---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import Resources from "../components/Resources.astro";
import Footer from "../components/Footer.astro";
---

<!-- TODO: organizar titulo de recursos -->
<!-- TODO: colocar todo en ingles -->
<!-- TODO: Organizar funcionalidad de los icons github y linkedin -->
<!-- TODO: Organizar mobile suavecito -->

<Layout title="ResourceDev._">
    <main class="w-full">
        <Home />
        <Resources id="resources" />
        <Footer />
    </main>
</Layout>
