<section class="flex flex-col justify-center items-center">
    <h1 class="text-7xl text-white/80 font-bold">Frontend Marvels,</h1>
    <h1 class="text-7xl text-purple-500 font-bold">
        Your Gateway to Web Wizardry!
    </h1>
    <p class="text-white/80 font-thin text-xl my-6">
        Descubre y domina el arte del <strong
            class="text-purple-400/60 font-semibold">desarrollo frontend</strong
        >, encuentra todo lo que necesitas para llevar tus proyectos al
        siguiente nivel.
    </p>
</section>
