---
import About from "./About.astro";
import GitHub from "./icons/GitHub.astro";
import LinkedIn from "./icons/LinkedIn.astro";
---

<section class="w-full h-screen flex flex-col gap-36">
    <header class="flex sticky justify-between w-full py-6 px-6">
        <h1 class="text-3xl font-bold">
            RecDev.<strong class="text-purple-500">_</strong>
        </h1>
        <ul class="flex gap-2">
            <li>
                <a
                    href="https://github.com/MateoRiosd93"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <GitHub />
                </a>
            </li>
            <li>
                <a
                    href="http://https://www.linkedin.com/in/mateo-r%C3%ADos-diaz-16458b186/"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <LinkedIn />
                </a>
            </li>
        </ul>
    </header>
    <section class="flex flex-col justify-center items-center">
        <About />
        <!-- TODO: ORGANIZAR anchor para poder moverse a la seccion de recursos -->
        <button
            class="w-52 mt-8 bg-purple-500 py-4 px-10 font-semibold text-xl rounded-sm cursor-help"
        >
            Get Started
        </button>
    </section>
</section>
